.contact {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact :where(.heading1) {
  display: flex;
  align-items: center;
  gap: 7rem;

  font-size: 70px;
  animation: heading1 2s ease 0s 1 normal none;
}

@keyframes heading1 {
  from {
    transform: translateY(30px);
    opacity: 0%;
  }
}

/* contact links */
.contact :where(.contact-links) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact :where(.contact-links) a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 0.2s ease-in-out;
}
.contact :where(.contact-links) li:nth-child(1) a {
  background-color: var(--red);
  color: white;
  animation: btn1 2s ease 0s 1 normal none;
}
.contact :where(.contact-links) li:nth-child(1) a:hover {
  background-color: black;
  color: white;
}
.contact :where(.contact-links) li:nth-child(2) a {
  background-color: transparent;
  color: var(--red);
  border: 1px solid var(--red);
  animation: btn2 2s ease 0s 1 normal none;
}
.contact :where(.contact-links) li:nth-child(2) a:hover {
  background-color: var(--red);
  color: white;
}
@keyframes btn1 {
  from {
    transform: translateX(-50px);
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes btn2 {
  from {
    transform: translateX(50px);
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
