.expertise {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expertise :where(.heading1) {
  display: flex;
  align-items: center;
  gap: 7rem;

  font-size: 70px;
  animation: heading1 2s ease 0s 1 normal none;
}

@keyframes heading1 {
  from {
    transform: translateY(50px);
    opacity: 0%;
  }
}
