.footer {
  /* height: 100vh; */
  padding: 1rem;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 999;
}

.footer :where(.copyright) {
  color: grey;
}
